# Virtual environments
env/
venv/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# VSCode
.vscode/

# Logs
*.log

# SQLite
db.sqlite3

# OS files
.DS_Store
Thumbs.db